.thankyou {
  margin: 0 auto;
  max-width: 1000px;
  padding: 54px 15px 0;
}

.thankyou__wrapper {
  margin: 40px auto;
}

.footer {
  height: 75vh;
}

@media (max-width: 768px) {
  .nav__container {
    padding: 10px 5px;
  }

  .thankyou {
    padding: 54px 20px 0;
  }
}

@media (max-width: 480px) {

  .nav__menu {
    gap: 10px;
  }
}